{% extends 'base.html' %}
 {% load static %}
 {% block content %}
    <link href="{% static 'css/detail.css'%}" rel="stylesheet" type="text/css" />
    <div class="content"  style="margin-top: 70px">
    <style>
      a{
           color:black;
           text-decoration:none;
      }
      a:hover{
          text-decoration:underline;
          color:black;
      }
    </style>
        {% for feed in feeds %}
         <div class="main">
         <section class="cardViewSection">
          <div class="cardView">
                 <header>
                       <div class="userNickName">
                       <a href="{% url 'profile' feed.author.id %}"  >
                         <b> {{ feed.author.username }} </b>
                       </a>
                       </div>
                 </header>
                 <div class="cardImage" >
                      <img src="{{feed.image.url}}" alt="이미지">
                 </div>
             <div class="cardInfo">
                 <div class="infoLeft">
                      <img class="feedImg" src="{% static 'img/liked.png' %}" alt="좋아용" />
                      <img class="feedImg" src="{% static 'img/comment.png'%}" alt="코멘트" />
                      <img class="feedImg" src="{% static 'img/upload.png' %}" alt="업로드" />
                 </div>
              </div>
             <div class="comment">
                 {{feed.pub_date}} <br>
                  {{feed.summary}}<br> <a href="{% url 'detail' feed.id%}"> ...more </a>
              </div>
               <div class="comment_form">
                 <form action="">
                      <input type="text" placeholder="댓글 입력..">
                  </form>
             </div>
         </div>
         </section>
      </div>
     {% endfor %}
    </div>
 {% endblock %}

