{% extends 'base.html' %}
 {% load static %}
 {% block content %}
				<link href="{% static "css/profile.css "%}" rel="stylesheet" type="text/css"/>
		<header>

			<div class="container">
				<div class="profile">
					<div class="profileImg">
						<button class="imgbtn" title="프로필 사진 바꾸기">
						<img src="{% static "img/ssu_likelion_logo.png " %}" alt="">
					</button>
					</div>
					<div class="profileUserSetting">
						<h1 class="profileUserName">{{author.username}}</h1>
						<h2 class="profileNickName"></h2>
						{% if user.id == author.id %}
							<button class="profileEdit">프로필 편집</button>
						{% endif %}
					</div>
					<div class="profileStats">
						<ul><!--관련해서는 나중에 Profile Model 수정하기-->
							<li><span class="profileStatsNum">000</span> 게시물</li>
							<li><span class="profileStatsNum">000</span> 팔로워</li>
							<li><span class="profileStatsNum">000</span> 팔로잉</li>
						</ul>
					</div>
					<div class="profileIntro">
						<p class="profileIntroduce">hello world✈️</p>
					</div>
				</div>
				<!-- End of profile section -->
			</div>
			<!-- End of container -->
		</header>
		<main>
			{% for feed in feeds %}
				<div class="galleryContainer">
					
						<div class="gallery" >
								<a href="{% url 'detail' feed.id %}">
									<img src="{{feed.image.url}}" alt="이미지">
								</a>
						</div>
					
				</div>
			{% endfor %}
		</main>
	{% endblock %}