{% extends 'base.html' %}
 {% load static %}
 {% block content %}
				<link href="{% static "css/profile.css "%}" rel="stylesheet" type="text/css"/>
		<header>

			<div class="container">
				<div class="profile">
					<div class="profileImg">
						 <img src=
               			 {% if author.profile.profileImg%} 
                   		 	"{{author.profile.profileImg.url}}"
               			 {% else %}
                    		"{% static 'img/default_profile.png' %}"
                		 {% endif %}
					</div>
					<section class="informations">
						<div class="profileUserSetting">
							<h2 class="profileUserName">{{author.username}}</h2>
							<div class="editBtn">
								{% if user.id == author.id %}
									<a href="{% url 'profileSetting'%}"><button class="profileEdit">프로필 편집</button></a>
								{% endif %}
							</div>
						</div>
						<ul class="numInfo">
								<li>게시물<span class="num"><b> {{feeds.length}}</b></span> </li>
								<li>팔로워<span class="num"><b> 00</b></span> </li>
								<li>팔로잉<span class="num"><b> 00</b></span> </li>
						</ul>
						<div class="profileIntro">
							<h1 class="nickname">{{author.profile.nickname}}</h1>
							<br>
							<span>hello world✈️</span>
						</div>
					</section>
				</div>
				<!-- End of profile section -->
			</div>
			<!-- End of container -->
		</header>
		<main>
			{% for feed in feeds %}
				<div class="galleryContainer">
					
						<div class="gallery" >
								<a href="{% url 'detail' feed.id %}">
									<img src="{{feed.image.url}}" alt="이미지">
								</a>
						</div>
					
				</div>
			{% endfor %}
		</main>
	{% endblock %}