{% extends 'base.html' %}
 {% load static %}
 {% block content %}
 <link href="{% static 'css/profileSetting.css'%}" rel="stylesheet" type="text/css" />
    <div class="setting-container">
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item"> 프로필 편집 </li>
                <li class="nav-item"> 비밀번호 변경 </li>
            </ul>
        </div>
        <div class="Img-edit">
            <img src=
                    {% if user.profile.profileImg%} 
                        "{{user.profile.profileImg.url}}"
                    {% else %}
                        "{% static 'img/default_profile.png' %}"
                    {% endif %}
            >
        </div>
        <div class= "basicInfo">
            <h2 class="username">{{user.username}}</h2>
            <form action="{% url "edit_profileImg" %}" enctype="multipart/form-data" method="post">
                 {%csrf_token%}
                 <label for="filebtn" class="editBtn"><b> 프로필 사진 바꾸기</b> </label>
                 <input type="file" accept="imgae/jpeg,image/png" name="image" style="display:none" id="filebtn">
                 <button type="submit" class="submitbtn">변경</button>
            </form>
        </div>
        <div class= "Info-edit">
         <ul class= "label">
                 <li class="label-list">이름 </li>
                 <li class="label-list">사용자 이름</li>
                 <li class="label-list">소개</li>
        </ul>
            <form method ="POST" action="">
                <div class="info">
                 <input name="nickname" type="text" value={{user.profile.nickname}}>
                 <input name="username" type="text" value={{user.username}}>
                 <textarea name="text" id="" cols="40" rows="2">{{user.profile.intro}}</textarea>
                </div>
                <button type="submit" class="submitbtn" >제출</button>
            </form>
        </div>   
        
        
    </div>
 {% endblock %}