{% extends 'base.html' %}
 {% load static %}
 {% block content %}
    <div class="settingContainer">
        <div class="profileImg">
            <img src=
                {% if user.profile.profileImg%} 
                    "{{user.profile.profileImg.url}}"
                {% else %}
                    "{% static 'img/default_profile.png' %}"
                {% endif %}
        </div>
        <div class= "basic">
          <h1 class="username">{{user.username}}</h1>
          <button class="editImg" type="button">프로필 사진 바꾸기</button>
        </div>
    </div>
 {% endblock %}