:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color:whitesmoke;
    color: #262626;
    padding-bottom: 3rem;
}
.imgbtn{
    border : 0;
    outline: 0;
    background: none;
    cursor: pointer;
}
img {
    display: block;
}



.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visualHiddenInfo {
   
    height: 1px;
    width: 1px;
   
}

/* Profile Section */

.profile {
    padding: 100px 100px 70px 200px;
    margin-left: 100px;
    margin-right:100px;
    border-bottom: 1px solid #dbdbdb;
}
.nickname{
    font-size:1px;
}

.informations{
    margin-left:100px;
}

.profileImg {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
    
    
}

.profileImg img {
    border-radius: 50%;
    width:150px;
    height:150px;
    border: 3px solid gainsboro;
}


.profileUserSetting {
    margin-top: 1.1rem;
    display:flex;
}

.profileUserName {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 300;
}
.editBtn{
    width:130px;
    padding:0px;
}
.profileEdit {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0.9 rem 0.8 rem;
    margin-left:15px;
    cursor: pointer;
}

.numInfo{
    list-style-type:none;
    font-size: 1.4rem;
    display:inline-flex;
    padding:0;
    margin-top:15px;
}
.numInfo li{
  margin-right:14px;  
}


.profileIntro {
    font-size: 1rem;
   
}

.profileIntroduce,
.profileEdit {
    font-weight: 600;
}

/* Gallery Section */
.galleryContainer {
    text-align:center;
    
    float: right;
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}
.gallery {
    
    width:250px;
    height:250px;
    
    margin: -1rem -1rem;
    padding-bottom: 3rem; 
}
.gallery img{
    width:250px;
    height:250px;
}

.galleryPicture {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}


.galleryPicture:hover .galleryPictureInfo,
.galleryPicture:focus .galleryPictureInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.galleryPictureInfo {
    display: none;
}

.galleryPictureInfo li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.galleryPictureLikes {
    margin-right: 2.2rem;
}

.galleryPicture-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.clone,
.comment {
    transform: rotateY(180deg);
}





/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    
    .profileUserSetting,
    .profileIntro,
    .profileStats {
        float: none;
        width: auto;
    }

    .profileImg img {
        width: 7.7rem;
    }

    .profileUserSetting {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profileUserName {
        font-size: 2.2rem;
    }

    .profileEdit {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profileEdit {
        margin-left: 0;
    }

    .profileIntro {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profileEdit,
    .profileIntro,
    .profileStats {
        flex-basis: 100%;
    }

    .profileStats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profileStats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profileStats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profileStatsNum {
        display: block;
    }
}

@supports (display: grid) {
    .profile {
        display: flex;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profileImg {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profileImg,
    .profileUserSetting,
    .profileStats,
    .profileIntro,
    .galleryPicture,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profileImg {
            grid-row: 1 / 2;
        }

        .profileUserSetting {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profileEdit,
        .profileStats,
        .profileIntro {
            grid-column: 1 / -1;
        }

        .profileUserSetting,
        .profileEdit,
        .profile-settings-btn,
        .profileIntro,
        .profileStats {
            margin: 0;
        }
    }
}